@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');

#particles canvas {
    height: 100%;
    width: 100%;
    position:absolute;
    z-index: -1;
}

